.box {
  width : 50px;
  height: 50px;
  background-color: blue;
  border: 2px solid black;
}

.squareIt {
  /* display:flex;
  flex-wrap: wrap; */
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(100px, 0fr));
}